.carousel {
    position: relative;
    display: flex;
    overflow: hidden;
}


.carousel-item{
    position: absolute;
    width:100%;
    height:100%;
    z-index:1;
}


.carousel.undefined .carousel-item,
.carousel.horizontal .carousel-item{
    top:0;
    left:var(--mh);
}
.carousel.undefined .carousel-item.right,
.carousel.horizontal .carousel-item.right{
    left: calc(-1 * var(--mh));
}
.carousel.vertical .carousel-item{
    top:var(--mv);
    left:0;
}
.carousel.vertical .carousel-item.right{
    top: calc(-1 * var(--mv));
    left:0;
}
.carousel.undefined .carousel-item:first-child,
.carousel.horizontal .carousel-item:first-child{
    left:0;
}
.carousel.vertical .carousel-item.right{
    top: calc(-1 * var(--mv));
}
.carousel.vertical .carousel-item:first-child{
    top:0;
    left:0;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: none; 
    background: none; 
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 32px;
    z-index:2
}

.carousel.undefined .carousel-control-prev,
.carousel.horizontal .carousel-control-prev {
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.carousel.undefined .carousel-control-next ,
.carousel.horizontal .carousel-control-next {
    right: 0px;
    top: 50%;
    transform: translateY(-70%) rotate(180deg);
}

.carousel.vertical .carousel-control-prev {
    left: 50%;
    top: 0%;
    transform: translateX(-50%) rotate(90deg);
}
.carousel.vertical .carousel-control-next {
    left: 50%;
    bottom: 0;
    transform: translateX(-32%) rotate(-90deg);
}

@keyframes leftIn{
    0% {
       left: var(--mh); 
    }
    100% {
        left: 0px; 
    }
}

.carousel.horizontal .carousel-item.left.showing,
.carousel.undefined .carousel-item.left.showing{
    animation: leftIn 0.5s forwards; 
}
@keyframes leftOut{
    0% {
       left: 0px; 
    }
    100% {
       left: calc(-1 * var(--mh)); 
    }
}


.carousel.horizontal .carousel-item.left.prev,
.carousel.undefined .carousel-item.left.prev{
    animation: leftOut 0.5s forwards; 
}

@keyframes rightIn{
    0% {
       left:  calc(-1 * var(--mh)); 
    }
    100% {
        left: 0px; 
    }
}

.carousel.horizontal .carousel-item.right.showing,
.carousel.undefined .carousel-item.right.showing{
    animation: rightIn 0.5s forwards; 
}
@keyframes rightOut{
    0% {
       left: 0px; 
    }
    100% {
       left: calc(1 * var(--mh)); 
    }
}
.carousel.horizontal .carousel-item.right.prev,
.carousel.undefined .carousel-item.right.prev{
    animation: rightOut 0.5s forwards; 
}





@keyframes topIn{
    0% {
       top: var(--mh); 
    }
    100% {
        top: 0px; 
    }
}

.carousel.vertical .carousel-item.left.showing{
    animation: topIn 0.5s forwards; 
}
@keyframes topOut{
    0% {
       top: 0px; 
    }
    100% {
       top: calc(-1 * var(--mh)); 
    }
}


.carousel.vertical .carousel-item.left.prev{
    animation: topOut 0.5s forwards; 
}

@keyframes bottomIn{
    0% {
       top:  calc(-1 * var(--mh)); 
    }
    100% {
        top: 0px; 
    }
}

.carousel.vertical .carousel-item.right.showing{
    animation: bottomIn 0.5s forwards; 
}
@keyframes bottomOut{
    0% {
       top: 0px; 
    }
    100% {
       top: calc(1 * var(--mh)); 
    }
}
.carousel.vertical .carousel-item.right.prev{
    animation: bottomOut 0.5s forwards; 
}









.carousel .navigationDiv.horizontal,
.carousel .navigationDiv.undefined{
    position: absolute;
    bottom:16px;
    left:50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
}

.carousel .navigationDiv.vertical{
    position: absolute;
    bottom:16px;
    top:0;
    bottom:0;
    right:8px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height:100%;
    align-items: center;
    justify-content: center;
}
.carousel button.nav-item.circle,
.carousel button.nav-item.undefined{
    width:20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px;
    border:2px solid rgb(89, 89, 90);
    position: relative;
    background: none;
    padding:0;
    cursor: pointer;
}
.carousel button.nav-item.rectangle{
    width:25px;
    height: 5px;
    border-radius: 5px;
    margin: 3px;
    background: rgb(160, 160, 160);
    border:none;
    position: relative;
    padding:0;
    cursor: pointer;
}
.carousel button.nav-item.visible.rectangle{
    background: rgb(243, 243, 243);
}
.carousel button.nav-item.visible.circle::after,
.carousel button.nav-item.visible.undefined::after{
    content:'';
    position: absolute;
    top:2px;
    left:2px;
    width:12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(89, 89, 90);
    box-shadow: inset 0px 0px 2px rgb(151, 151, 151);
    z-index: 5;
}

.carousel .thumGallary{
    width:var(--vw);
    height:calc(100% - var(--vh));
    position:absolute;
    bottom:0;
    left:0;  
}
.carousel  .thumWrapper{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel .thumWrapper button{
    background: none;
    border: none;
    outline: none;
    padding:12px;
    cursor: pointer;
    z-index: 12;
}

.carousel .thumWrapper button span{
    font-size: 36px;
    color:#fff
}


.carousel .gallary-container .thumItem .overlay{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 8;
    background-color: rgba(24, 24, 24, 0.3);
    display: flex;;
    
}
.carousel .gallary-container .thumItem.active .overlay{
    display: none;
}
.carousel .gallary-container .thumItem .img{
    width:90px;
    height:72px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}
.carousel .gallary-container .thumItem img{
    width:100%;
    height:100%;
    border-radius: 4px;
}

.carousel .gallary-container{
    width:calc(100% - 92px);
    height:72px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-direction: column;
}
.carousel .img-container{
    width:100%;
    height:100px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    overflow: hidden;
    margin-top: 5px;
}
.carousel .gallary-container .thumItem{
    margin:3px;
    border-radius: 6px;
    height:100%;
    position: relative;
    cursor:pointer;
}
.carousel .gallary-container .thumItem.active .img{
    border:2px solid #ffffff
}

.carousel .progressBar{
    position: absolute;
    z-index: 8;
    top:var(--vh);
    left:0;
    width:var(--vw);
    height: 3px;
    background-color: #788a8f;
    border-radius: 4px;
}
.carousel .progressBar:after{
    content: '';
    position: absolute;
    z-index: 8;
    top:0;
    left:0;
    width:var(--v);
    height: 100%;
    background-color: #9BE310;
    border-radius: 2px;
}


